*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  --cor-das-bordas: #ccc;
  --cor-das-teclas: #d3d6da;
  --cor-preta-das-bordas: #000;
  --tamanho-monitor-letra: 58px;
  --cor-letra-errada: #787c7e;
  --cor-letra-certa-no-lugar-certo: #6aaa64;
  --cor-letra-certa-no-lugar-errado: #c9b458;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#container-alerta {
  position: fixed;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
  background-color: transparent;
}

#container-alerta .alerta {
  background: #212121;
  color: #fff;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.container {
  width: 500px;
  overflow: hidden;
}

.container h2 {
  border-bottom: 1px solid var(--cor-das-bordas);
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  letter-spacing: 3px;
}

#jogo {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#jogo .linha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#jogo .linha .letra {
  width: var(--tamanho-monitor-letra);
  height: var(--tamanho-monitor-letra);
  margin: 3px;
  border: 2px solid var(--cor-das-bordas);
  text-align: center;
  line-height: calc(var(--tamanho-monitor-letra) - 2px);
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

#jogo .linha .letraDigitada {
  border: 2px solid var(--cor-preta-das-bordas);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#jogo .linha .letraErrada {
  color: #fff;
  border-color: var(--cor-letra-errada);
  background-color: var(--cor-letra-errada);
}

#jogo .linha .letraCertaNoLugarErrado {
  color: #fff;
  border-color: var(--cor-letra-certa-no-lugar-errado);
  background-color: var(--cor-letra-certa-no-lugar-errado);
}

#jogo .linha .letraCertaNoLugarCerto {
  color: #fff;
  border-color: var(--cor-letra-certa-no-lugar-certo);
  background-color: var(--cor-letra-certa-no-lugar-certo);
}

#teclado {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#teclado .linha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#teclado .linha button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: var(--cor-das-teclas);
  padding: 18px 15px;
  margin: 4px 3px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  border-radius: 5px;
  border: none;
}

#teclado .linha button:hover {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */